th {
    background-color: lightyellow;
}

table, th, td {
    border: 2px solid;
}
th, td {
    padding: 10px;
}
table {
    margin: 100px;
}
img {
    width: 150px;
    height: 150px;
    
    border: 5px;
     border-color: red;
      border-style: dashed;
       padding: 30px;
}
